<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeqifu.bus.mapper.GoodsMapper">

    <!-- 根据商品id删除商品销售信息 -->
    <delete id="deleteSaleByGoodsId">
        delete from bus_sales where goodsid = #{goodsid}
    </delete>

    <update id="updateleteSaleByGoodsId">
        update bus_sales set available=0 where goodsid = #{goodsid}
    </update>

    <!-- 根据商品id删除商品销售退货信息 -->
    <delete id="deleteSaleBackByGoodsId">
        delete from bus_salesback where goodsid = #{goodsid}
    </delete>

    <update id="updateSaleBackByGoodsId">
        update bus_salesback set available=0 where goodsid = #{goodsid}
    </update>

    <!-- 根据商品id删除商品进货信息 -->
    <delete id="deleteInportByGoodsId">
        delete from bus_inport where goodsid = #{goodsid}
    </delete>

    <update id="updateInportByGoodsId">
        update bus_inport set available=0 where goodsid = #{goodsid}
    </update>

    <!-- 根据商品id删除商品退货信息 -->
    <delete id="deleteOutportByGoodsId">
        delete from bus_outport where goodsid = #{goodsid}
    </delete>

    <update id="updateOutportByGoodsId">
        update bus_outport set available=0 where goodsid = #{goodsid}
    </update>

    <!-- 根据客户id删除商品销售 -->
    <delete id="deleteSaleByCustomerId">
        delete from bus_sales where customerid = #{customerid}
    </delete>

    <update id="updateSaleByCustomerId">
        update bus_sales set available=0 where customerid = #{customerid}
    </update>

    <!-- 根据客户id删除商品销售退货信息 -->
    <delete id="deleteSaleBackByCustomerId">
        delete from bus_salesback where customerid = #{customerid}
    </delete>

    <update id="updateSaleBackByCustomerId">
        update bus_salesback set available=0 where customerid = #{customerid}
    </update>

    <!--查询所有库存预警商品-->
    <select id="loadAllWarning" resultType="com.yeqifu.bus.entity.Goods">
        select * from bus_goods where available=1
    </select>

    <select id="selectSalesCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select SUM(number) num from bus_sales where DATE_FORMAT(salestime,'%Y%m')= DATE_FORMAT(#{date},'%Y%m') and goodsid=#{id}
    </select>

</mapper>
